body {
    background-color: lightgray;
    background-image: url("../images/firstprojectimage.jpg");
    background-repeat: no-repeatgit;
}

h2 {
    color:orangered
}

p {
    font-weight: bold;
}

.text-center {
    text-align: center;
}